## setup

In [56]:
import pandas as pd

df = pd.read_csv('moves_info.csv')
df.columns

Index(['serial', 'oldName', 'newName', 'type', 'basePower', 'accuracy',
       'secondaryEffect', 'effectChance', 'PP', 'priority', 'target',
       'description', 'makesContact', 'protectAffected', 'magicCoatAffected',
       'snatchAffected', 'mirrorMoveAffected', 'kingsRockAffected'],
      dtype='object')

In [57]:
start = 0
batchSize = 3
stop = start + batchSize
pd.set_option('display.max_colwidth', None)

## repeat

In [58]:
moves_map = df[['serial','oldName', 'newName']]
moves_map.iloc[start:stop]

   serial      oldName      newName
0       0        POUND  DRAIN PUNCH
1       1  KARATE_CHOP  KARATE CHOP
2       2  DOUBLE_SLAP   DOUBLESLAP

In [59]:
moves_effect = df[['serial', 'newName', 'secondaryEffect', 'effectChance', 'description']]
moves_effect.iloc[start:stop]

,serial,newName,secondaryEffect,effectChance,description
0,0,DRAIN PUNCH,ABSORB,0,A tough attack that drains half the damage it inflicted to restore HP.
1,1,KARATE CHOP,HIGH_CRITICAL,0,The foe is attacked with a sharp chop. It has a high critical-hit ratio.
2,2,DOUBLESLAP,DOUBLE_HIT,0,The foe is slapped back and forth; two times.

In [60]:
moves_info = df[['serial', 'newName', 'type', 'basePower', 'accuracy', 'PP', 'priority', 'target']]
moves_info.iloc[start:stop]

   serial      newName      type  basePower  accuracy  PP  priority    target
0       0  DRAIN PUNCH  FIGHTING         40       100  20         0  SELECTED
1       1  KARATE CHOP  FIGHTING         50       100  25         0  SELECTED
2       2   DOUBLESLAP    NORMAL         30       100  30         0  SELECTED

In [61]:
moves_flags = df[['serial', 'newName', 'makesContact', 'protectAffected', 'magicCoatAffected', 'snatchAffected', 'mirrorMoveAffected', 'kingsRockAffected']]
moves_flags.iloc[start:stop]

,serial,newName,makesContact,protectAffected,magicCoatAffected,snatchAffected,mirrorMoveAffected,kingsRockAffected
0,0,DRAIN PUNCH,1,1,0,0,1,0
1,1,KARATE CHOP,1,1,0,0,1,1
2,2,DOUBLESLAP,1,1,0,0,1,1

In [62]:
start = stop
stop = start + batchSize